/*MEMBER LIST*/

/*Rank headings*/
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
    height: 20px;
}
.membersGroup-v9BXpm {
	height: 0px;
	padding-top: 4px;
    border-bottom: var(--background-primary) solid 1px;
    transition: height 0.5s;
}
/*Status text size*/
.activityText-yGKsKm {
    font-size:10px;
}
.activityText-yGKsKm strong {
    font-size: 12px;
}

/*CHAT*/

/*Typing bar*/
.form-2fGMdU {
    padding-left: unset;
    padding-right: unset;
}
.channelTextArea-rNsIhG {
    margin-bottom: unset;
}
.scrollableContainer-2NUZem {
    border-radius: unset;
}
/*Chat typing and slowmode position*/
.base-gE7OpD {
    bottom: 44px;
}
/*Chat avatar shape*/
.avatar-1BDn8e {
    border-radius: 20%;
}

/*SERVERS SIDEBAR*/
nav[aria-label="Servers sidebar"] {
    margin-bottom: 52px;
    border-bottom: 1px solid var(--background-modifier-accent);
}

/*USER AREA*/
.container-3baos1 {
    position: fixed;
    background: linear-gradient(90deg, var(--background-tertiary) 72px, var(--background-secondary-alt) 72px);
    bottom: 0;
    left: 0;
    width: 52px;
	padding: 0 8px 0 12px;
	margin-bottom: 0;
    transition: width 0.5s;
}
.container-3baos1:hover {
    width: 292px;
}
.avatarWrapper-2yR4wp {
    margin-right: 20px;
}
.container-3baos1 .avatar-SmRMf2 {
    width: 48px!important;
    height: 48px!important;
}
button[aria-label="Mute"], button[aria-label="Unmute"], button[aria-label="Deafen"], button[aria-label="User Settings"] {
	display: none;
}
.container-3baos1:hover button[aria-label="Mute"], .container-3baos1:hover button[aria-label="Unmute"], .container-3baos1:hover button[aria-label="Deafen"], .container-3baos1:hover button[aria-label="User Settings"] {
	display: flex;
}

/*RANDOM STUFF (COVERS MULTIPLE AREAS)*/

/*Purple highlight (DMs & User Area)*/
.clickable-1JJAn8.container-2Pjhx-:hover {
    box-shadow: -5px 0 0 0 #b45af4;
    background: linear-gradient(to right,#b45af459 1%,#fff0 99%);
}