/*MEMBER LIST*/

/*Member list width*/
.members-1bid1J {
    max-width: 52px;
	transition: max-width 0.5s;
}
.members-1bid1J:hover {
    max-width: 200px;
}
.membersWrap-3wRngy {
    min-width: unset;
}
/*Padding on rank headings*/
.membersGroup-3_dP5E {
    padding-left: 10px;
}
/*Padding on users*/
.member-2FrNV0 {
    margin: 1px 0 1px 3px;
}
/*Padding between avtar and name*/
.avatarWrapper-3E-a5I {
    margin-right: 5px;
}
/*remove black circle when moving status*/
.mask-2vyqAW {
    -webkit-mask: none;
    mask: none;
}

/*SERVER CHAT*/

/*Chat messages margin*/
.message-group {
    margin-left: 10px;
	margin-right: 0;
}
/*Margin on right of avatar*/
.message-group .avatar-large {
    margin-right: 10px;
}
/*Imbeded videos padding*/
.embedInner-t4ag7g {
    padding: 5px 5px;
}
/* Chat Track Piece */
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    visibility: hidden;
}
/* Chat Scroller Thumb */
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    visibility: hidden;
}
/* Chat Track Piece */
.theme-dark:hover .friends-table:hover .scroller-wrap:hover ::-webkit-scrollbar-track-piece, .theme-dark:hover .messages-wrapper:hover .scroller-wrap:hover ::-webkit-scrollbar-track-piece {
    visibility: visible;
}
/* Chat Scroller Thumb */
.theme-dark:hover .friends-table:hover .scroller-wrap:hover ::-webkit-scrollbar-thumb, .theme-dark:hover .messages-wrapper:hover .scroller-wrap:hover ::-webkit-scrollbar-thumb {
    visibility: visible;
}

/*SERVER CHAT TYPING BAR*/

.chat form {
    margin: 0px;
	box-shadow: none;
}
.channelTextArea-os01xC {
    margin: 0px;
}
.innerNoAutocomplete-kaUXJZ {
    border-radius: 0px;
}
.theme-dark .chat form {
    box-shadow: none;
}
/*stuff in typing bar re aligning*/
.attachButton-Di6YUh {
    height: 32px;
}
.emojiButton-38mF6t {
    top: 15px;
}
.textAreaEnabled-2vOfh8 {
    padding: 14px 38px 10px 0;
}
/*typing*/
.theme-dark .typing-3eiiL_ {
    background-color: #42454a;
}
.theme-light .typing-3eiiL_ {
    background-color: #e5e5e5;
}
.typing-3eiiL_ {
    bottom: 75%;
    left: 50%;
    width: auto;
    padding: 0 10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px 5px 0 0;
	opacity: .80;
}
.typing-3eiiL_:hover {
    opacity: 1;
}

/*SERVER CHANNELS*/

/*Server channels width (default 240)*/
.channels-3g2vYe {
    width: 230px;
}

/*RANDOM STUFF APPLYS TO MORE THAN 1 AREA*/

/*Improved status icon on pictures*/
.avatar-small .status, .status-2Devx1 {
    background-color: transparent;
    height: 32px!important;
    width: 32px!important;
    border-radius: 50%;
    bottom: -10%!important;
    right: -10%!important;
}
.status-online, .statusOnline-1Mp2_H {border-color: #43b581!important;}
.status-idle, .statusIdle-2AQdvu {border-color: #faa61a!important;}
.status-dnd, .statusDnd-35xAXU {border-color: #f04747!important;}
.status-offline, .status-invisible {border-color: #747f8d!important;}

/*Hide text before game/program name on servers and friends*/
.activity-1PAe08 {
    font-size: 0px;
}
.activity-1PAe08 strong {
    font-size: 11px;
}
.private-channels .channel .channel-activity {
    font-size: 0px;
}
.private-channels .channel .channel-activity strong {
    font-size: 10px;
}
/*Game/program text line fix*/
.activityText-258pdj {
    height: 13px;
}
.private-channels .channel .channel-activity-text {
    height: 10px;
}

/*GUILD BAR*/

/*Guild bar size*/
.guilds-wrapper {
    width: 60px;
}
.guilds-wrapper .guilds .friends-online {
    width: 40px;
}
.guilds-wrapper .guild-separator {
    width: 40px;
}
.guilds-wrapper .guilds .guild .avatar-small {
    background-size: 40px 40px;
}
.guilds-wrapper .guilds .guild .guild-inner a {
    height: 40px;
    width: 40px;
}
.guilds-wrapper .guilds .friends-icon {
    height: 40px;
    width: 40px;
}
.guilds-wrapper .guilds .guild, .guilds-wrapper .guilds-error {
    height: 40px;
    width: 40px;
}
.guilds-wrapper .guilds-error {
    line-height: 37px;
}
.badge {
    border-radius: 10px;
}
/*Guild bar new buttons removed*/
.unread-mentions-indicator-bottom .unread-mentions-bar, .unread-mentions-indicator-top .unread-mentions-bar {
    display: none;
}

/*BOTTOM LEFT PROFILE/MUTE BUTTONS*/

.container-iksrDt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35px;
	padding: 0 10px 0 15px;
	margin-bottom: 0;
	background: #202225;
    transition: width 0.5s;
}
.container-iksrDt:hover {
    width: 265px;
	background: #2a2c31;
}
.container-iksrDt .avatar-small {
    margin: 0 25px 0 0;
}
.button-1aU9q1 {
    width: 0;
}
.container-iksrDt:hover .button-1aU9q1 {
    width: 32px;
}
/*guild wrapper fix*/
.guilds-wrapper .guilds {
    margin-bottom: 52px;
}

/*FRIENDS LIST*/

/*Friends list status fix when typing*/
.spinner {
    background-color: #000000aa;
    border-radius: 50%;
    width: 32px;
}

/*Google translate plugin button*/
.translate-button {
	top: 15px!important;
}