/*MEMBER LIST*/

/*Rank headings*/
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
    height: 20px;
}
.membersGroup-v9BXpm {
    height: 0px;
    padding-top: 4px;
    border-bottom: var(--background-primary) solid 1px;
    transition: height 0.5s;
}
/*Status text size*/
.activityText-yGKsKm {
    font-size:10px;
}
.activityText-yGKsKm strong {
    font-size: 12px;
}

/*CHAT*/

/*Typing bar*/
.form-2fGMdU {
    padding-left: unset;
    padding-right: unset;
}
.channelTextArea-rNsIhG {
    margin-bottom: unset;
}
.scrollableContainer-2NUZem {
    border-radius: unset;
}
/*Chat typing and slowmode position*/
.base-gE7OpD {
    bottom: unset;
    top: -24px;
}
/*Chat avatar shape*/
.avatar-1BDn8e {
    border-radius: 20%;
}

/*SERVERS SIDEBAR*/
nav[aria-label="Servers sidebar"] {
    margin-bottom: 86px;
}

/*USER AREA*/

.container-3baos1 {
    position: fixed;
    background: var(--background-tertiary);
    bottom: 0;
    left: 0;
    max-width: 72px;
    height: 32px;
    padding: unset;
    margin-bottom: 0;
    border-top: 1px solid var(--background-modifier-accent);
}
/*Support For Extra Buttons*/
.container-3baos1:hover {
    max-width: 312px;
    transition: max-width 2s;
}
.container-3baos1.gameActivityToggleAdded-Yd-YxC .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6 {
    overflow: hidden;
}
/*Avatar*/
.avatarWrapper-2yR4wp {
    position: absolute;
    bottom: 33px;
    left: 0;
    padding: 6px 16px;
    margin-right: unset;
    border-top: 1px solid var(--background-modifier-accent);
}
.container-3baos1 .avatar-SmRMf2 {
    width: 40px!important;
    height: 40px!important;
}
/*Name Tag Container*/
.nameTag-3uD-yy {
    background: var(--background-floating);
    padding: 4px 6px;
    border-radius: 5px;
    position: absolute;
    width: max-content;
    height: 18px;
    bottom: 46px;
    left: 80px;
    margin-right: unset;
    display: none;
}
.avatarWrapper-2yR4wp:hover ~ .nameTag-3uD-yy, .nameTag-3uD-yy:hover{
    display: flex;
}
/*Name Tag Container Arrow*/
#app-mount .container-3baos1 .nameTag-3uD-yy::before{
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -5px;
    border-left-width: 5px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: var(--background-floating);
}
/*Name Tag On One Line*/
.usernameContainer-1fp4nu {
    float: left;
}
.size12-3cLvbJ.subtext-3CDbHg {
    line-height: 18px;
}
/*Buttons*/
.container-3baos1 .button-14-BFJ.enabled-2cQ-u7.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
    min-width: 24px;
    max-width: 24px;
    border-radius: 0;
}
/*Voice Connection Container*/
.container-1giJp5 {
    border-top: 1px solid var(--background-modifier-accent);
    border-bottom: unset;
}
/*Game Stream Container*/
.panel-24C3ux {
    padding: 7px;
    border-bottom: unset;
}

/*RANDOM STUFF (COVERS MULTIPLE AREAS)*/

/*Purple highlight (DMs & User Area)*/
.clickable-1JJAn8:hover .layout-2DM8Md {
    box-shadow: -5px 0 0 0 #b45af4;
    background: linear-gradient(to right,#b45af459 1%,rgb(79 84 92 / 16%));
}

/*TOP BAR*/

/*Top Bar Blur*/
.container-1r6BKw.themed-ANHk51 {
    position: absolute;
    box-shadow: var(--elevation-low);
    background: rgba( 54, 57, 63, 0.75 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
}
/*Old box-shadow*/
.content-yTz4x3:before {
    box-shadow: unset;
}
/*New Messages In Chat Fix*/
.newMessagesBar-265mhP {
    margin-top: 48px;
}
/*Member List Fix*/
.members-1998pB {
    padding-top: 48px;
}
/*Friends Tab Fix*/
.container-1D34oG {
    position: relative;
}
.peopleList-3c4jOR {
    padding-top: 48px;
}
.scroller-2ZPeAD {
    padding-top: 64px;
}
/*Stage Discovery Tab Fix*/
.container-1a3EgQ {
    position: relative;
}
.container-24CyRY {
    padding-top: 48px;
}
/*Library Tab Fix*/
.container-3Mxszk {
    position: relative;
}
.header-39GIC8 {
    padding-top: 68px;
}

/*PRIVATE CALL Transparent*/
.wrapper-2qzCYF.minimum-28Z35l {
    position: absolute;
    background: rgba( 24, 25, 28, 0.75 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    width: 100%;
}

/*PLUGIN SUPPORT*/

/*MemberCount*/
#MemberCount {
    margin-top: unset!important;
    top: 48px!important;
}
.membersWrap-2h-GB4.hasCounter .members-1998pB {
    margin-top: 0px!important;
}
/*AccountDetailsPlus*/
.popouts-2bnG9Z {
    left: 70px;
}
/*CallTimeCounter*/
.voiceTimer {
    display: inline;
}