/*bodpod*/
.avatar-small[style*='131383022653145089'], .avatar-large[style*='131383022653145089'], .image-EVRGPw[style*='131383022653145089'], .avatarDefault-3jtQoc[style*='131383022653145089'], .avatarSpeaking-3teDH6[style*='131383022653145089'] {
	background-image:url(http://pa1.narvii.com/6588/cab785b4909df8480f5f6517c017634f1feb3d32_128.gif)!important;
}
/*swaglum*/
.avatar-small[style*='137672251104296960'], .avatar-large[style*='137672251104296960'], .image-EVRGPw[style*='137672251104296960'], .avatarDefault-3jtQoc[style*='137672251104296960'], .avatarSpeaking-3teDH6[style*='137672251104296960'] {
	background-image:url(https://i.imgur.com/ujRaQLJ.gif)!important;
}
/*ShadowHunter*/
.avatar-small[style*='178251583442780160'], .avatar-large[style*='178251583442780160'], .image-EVRGPw[style*='178251583442780160'], .avatarDefault-3jtQoc[style*='178251583442780160'], .avatarSpeaking-3teDH6[style*='178251583442780160'] {
	background-image:url(http://pa1.narvii.com/6316/178957045d954bf9ecfaf60444dc3b0e06f280fc_128.gif)!important;
}
/*WonderGlu*/
.avatar-small[style*='141596297579855872'], .avatar-large[style*='141596297579855872'], .image-EVRGPw[style*='141596297579855872'], .avatarDefault-3jtQoc[style*='141596297579855872'], .avatarSpeaking-3teDH6[style*='141596297579855872'] {
	background-image:url(https://i.imgur.com/EOfwSsh.gif)!important;
}